Repository hashgraph/hedera-wallet-connect, pull requests merged in 2024-10, with the labels that each got.

#125 Fix Sign Transaction Signature
  package-lock.json
  package.json
  src/lib/dapp/DAppSigner.ts
  src/lib/shared/utils.ts
  test/dapp/DAppConnector.test.ts
  test/utils.test.ts
  test/wallet/methods/wallet-signTransaction.test.ts
Labels: Feature Enhancement, New Feature, P1

#292 ci: Update hedera-wallet-connect per Q3 audit findings
  .github/workflows/test.yml
Labels: Audit, github_actions

#309 ci: Updating action to use step-security maintained version.
  .github/workflows/test.yml
Labels: github_actions

#310 ci: Updating action to use step-security maintained version + fixing a typo.
  .github/workflows/test.yml
Labels: github_actions
